.header {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}
.header .title {
  letter-spacing: 0.1rem;
  margin-bottom: 0.1rem;
}
.header .subtitle {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #333;
  font-size: 1.8rem;
}
.header .blurb {
  color: #333;
}
.section {
  padding: 3rem 0;
  margin-bottom: 0;
}
.contacts {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.section .title {
  text-transform: lowercase;
  font-size: 3.6rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.section .subtitle {
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin-top: 1.5em;
}
.section .subtitle a {
  font-weight: 800;
}
.star {
  font-size: 2.5rem;
  color: cornflowerblue;
}
.rating {
  text-align: right;
}
.year {
  color: #555;
  font-size: 1.5rem;
}
a {
  font-weight: bold;
  color: cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
  text-decoration: none;
}
@media (max-width: 480px) {
  .rating {
    text-align: center;
  }
  .star {
    font-size: 2rem;
  }
}

h1 h2 h3 h4 h5 {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 2.0em;
}